/*body{
	background-color: #FF0000; /*company colors/*/
body {
	margin: 0;
}
#sister-sites small {
	display: block;
	color: #777777;
}
#sister-sites li {
	display: inline-block;
	margin-right: 1px;
	padding:4px 5px 0 5px;
	border: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	word-spacing: normal;

}
#sister-sites ul {
	margin: 0 auto;
	/*background-color: red;*/
	width: 960px;
	padding-left: 0;
	
}
#sister-sites a {
	text-decoration: none;
	color: #0297d2;
}
#sister-sites {
background-color: #eeeeee;
padding-top: 5px;
border-bottom: 1px solid #aaaaaa;
word-spacing: -4px;
}
#active-site a {
	color: #777777;

}
li#active-sites {
	background-color: white;
	padding:4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: relative;
	top: 2px;
}
#sister-sites li:hover:not(#active-sites){
	background-color: white;
    /*padding: 4px 5px 0 5px;*/
    border: 1px solid #bde2f1;
    border-bottom: none;
}
#sister-sites li:hover:not(#active-sites) a, 
#sister-sites li:hover:not(#active-sites) a small {
	color: #bde2f1;
}
main {
	width: 960px;
	margin: 0 auto;
	
}
.product {
	background-color: #eeeeee;
	height: 200px;
	width: 19%;
	margin-bottom: 50px;
	float: left;
	margin-right: 9.5px;
	position: relative;
	border: 1px solid #999999;
	box-sizing: border-box;
}

.product h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap; /*textoverflow cuts off too long text*/
	overflow: hidden;
	text-overflow: ellipsis;
}
.product img {
	max-width: 100%;
}
.product: last-child {
	margin-right: 0;
}
.product div {
	padding: 10px;
}
.product p {
	font-weight: bold;
	text-align: right;
}
.discount {
	background-color: #e34647;
	color: white;
	padding: 4px 8px;
	position: absolute;
	top: 5px;
	left: -5px;
}